@media screen and (max-width: 960px) {
  body, #page {
    top: 0;
    width: 95%;
    margin: 5px 0;
    padding: 0;
  } 

  #main {
    width: 100%;
  }

  #banner {
    display: none;
  }

  #feature {
    display: none;
  }

  h1 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .region-nav-left {
    margin-top: 3em; 
  }

  #nav.grid-2 {
    width: 30%; 
  }

  #content {
    padding: 0 2%;
    margin-top: 3em; 
  }

  #content.grid-6 {
    margin: 3em 0 0 0;
    width: 64%;
  }
}

@media screen and (max-width: 750px) { /* 140px + 460px */
  .front #content .node {
    clear: both;
    width: 100%;
  }
}


@media screen and (max-width: 600px) { /* 140px + 460px */
  #nav.grid-2 {
    width: 100%;
    margin-top: inherit;
  }

  .region-nav-left {
    width: 100%;
  }

  #content {
    padding: 0;
    margin: 0 10px 0 0;
    width: inherit;
  }

  .front #content.grid-6 {
    float: left;
    margin: 0;
    width: inherit;
  }
  
  .region-nav-left ul.menu a {
    background: black;
    display: block;
    color: white;
    padding: 5px;
    margin-bottom: 3px;
  }
}


img, iframe, embed, object, form, input, textarea {
  max-width: 100%;
}

div#copyright {
  margin: 0 10px; 
  width: inherit; 
}
